/* google font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
    --primary: #0077cc;
    --deep-blue: #005da0;
    --secondary: #1f2937;
    --white: #fff;
    --background: #f1f5f9;
    --light-gray: #d1d5db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 97vh;
    color: var(--secondary);
    background: var(--background);
    width: 100%;
}

/* here container and sub container styles */
.container {
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
    padding: 30px;
    width: 800px;
    height: 500px;
}

#result-container {
    /* width: 700px; */
    /* height: 330px; */
    overflow: auto;
}

/* here apply for the common part styles */
.primary-btn {
    margin-top: 30px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
    border-radius: 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 200ms;
    width: 100%;
}
.primary-btn:hover {
    background-color: var(--deep-blue);
}

.title {
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

/* style for select field (dropdown) */
label {
    font-size: 16px;
    display: block;
    font-weight: 600;
    padding: 14px 0 6px 0;
}

select {
    font-size: 15px;
    padding: 6px 4px;
    border-radius: 4px;
    border: 0;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--light-gray);
    width: 100%;
}

select:focus {
    outline-color: var(--primary);
}

/* style for the result grid view (card) */
#resultGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    margin-top: 20px;
    padding: 5px;
}

#resultGrid > div {
    /* border: 1px solid var(--primary); */
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    background: var(--white);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#resultGrid > div p {
    text-transform: capitalize;
    padding: 2px 0;
    font-weight: 500;
}

#resultGrid > div span {
    font-weight: 400;
}

#resultGrid .point {
    color: var(--primary);
    font-weight: 600;
}

#resultGrid .point > span {
    font-weight: 600;
}

/* style for empty message */
#emptyMessage {
    margin-top: 20px;
    align-items: center;
    gap: 10px;
}

#emptyMessage p {
    padding-top: 8px;
    font-size: 13px;
}
